@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DebtManagement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DebtManagement.styles.css" asp-append-version="true" />
    <style>
        body {
            margin: 0;
            font: 1.2rem "Fira Sans", sans-serif;
        }

        .body-container {
            min-height: 100vh;
            display: grid;
            grid-template-columns: 15% 85%;
            background-color: #EEEEEE;
        }

        .sidebar-container {
            background-color: #393E46;
            height: inherit;
            display: flex;
            align-content: space-between;
            flex-direction: column;
        }

            .sidebar-container ul {
                text-decoration: none;
                list-style: none;
            }

        .page-title {
            text-decoration: none;
            color: #EEEEEE !important;
            font-size: 24px;
        }

        .nav-list {
            padding-left: 8px;
            flex: 1;
        }

        .nav-header {
            padding: 8px;
            padding-top: 24px;
            margin-right: 16px;
            margin-left: 8px;
            border-bottom: 1px solid #222831;
        }

        .nav-item {
            display: block;
            padding: 8px;
            margin: 4px;
            margin-right: 24px;
            width: 200px;
            text-decoration: none;
            color: #EEEEEE !important;
        }

        .nav-layout-item {
            margin: 8px;
        }

        .nav-bottom-option {
            display: flex;
            padding-bottom: 24px;
            padding-left: 16px;
        }

        .nav-item:hover {
            cursor: pointer;
            border-radius: 8px;
            background-color: #222831;
            color: #00ADB5 !important;
        }

        .nav-bottom-item {
            color: #EEEEEE !important;
            text-decoration: none;
            padding-left: 16px;
            padding-right: 16px;
        }

        .nav-bottom-item:hover {
            cursor: pointer;
            color: #00ADB5 !important;
        }
    </style>
</head>
<body>
    <div class="body-container">
        <div class="sidebar-container">
            <ul class="nav-list">
                <li class="nav-header">
                    <a href="/" class="page-title">
                        <span class="fs-4">Debt Management</span>
                    </a>
                </li>
                <li class="nav-layout-item">
                    <a class="nav-item" aria-current="page" asp-page="/DebitCtrl/Create">
                        Add Debt
                    </a>
                </li>
            </ul>
            @if (HttpContextAccessor.HttpContext.Session.GetInt32("userId") == null)
            {
                <div class="nav-bottom-option">

                    <a class="nav-bottom-item" asp-area="" asp-page="/Shared/Login" aria-current="page">
                        Login
                    </a> |
                    <a class="nav-bottom-item" asp-area="" asp-page="/Shared/Register" aria-current="page">
                        Register
                    </a>
                </div>
            }
            else
            {
                <div class="nav-bottom-option">
                    <div class="btn-group dropend">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Hi, @HttpContextAccessor.HttpContext.Session.GetString("userName")
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item" asp-area="" asp-page="/Shared/Logout" aria-current="page">
                                    Log Out
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>              
            }

        </div>
        <div>
            @RenderBody()
        </div>

    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- @await RenderSectionAsync("Scripts", required: false) -->
</body>
</html>
