@page
@model DebtManagement.Pages.DebitCtrl.CreateModel

@{
    ViewData["Title"] = "Create";
}


<div class="m-4">
    <h4 class="ml-2 mr-2">Create Debit</h4>
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-2">
                <label asp-for="Debit.DebtorName" class="control-label">Name</label>
                <input asp-for="Debit.DebtorName" class="form-control" />
                <span asp-validation-for="Debit.DebtorName" class="text-danger form-text"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Debit.DebtorPhone" class="control-label">Phone</label>
                <input asp-for="Debit.DebtorPhone" class="form-control" />
                <span asp-validation-for="Debit.DebtorPhone" class="text-danger form-text"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Debit.Description" class="control-label"></label>
                <textarea class="form-control" asp-for="Debit.Description" rows="5"></textarea>
                <span asp-validation-for="Debit.Description" class="text-danger form-text"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
